.enlaces {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #24303c;
}

.enlaces li {
    list-style: none;
}

.enlaces li a {
    text-decoration: none;
    color: white;
}

.enlaces li i {
    color: white;
    font-size: 1.5em;
    padding-right: 10px;
}