<div class="post">
    <div class="selector">
        <select class="form-select" (change)="onChange($event)">
            <option value="Todos">Todos Los Posts</option>
            <option value="Snowboard">Snowboard</option>
            <option value="Centros de Nieve">Centros de Nieve</option>
            <option value="Material Snowboard">Material Snowboard</option>
        </select>
    </div>
    <div class="card mb-4" style="max-width: 1004px;" *ngFor="let post of arrPosts">
        <div class="row g-0">
            <div class="col-md-6">
                <img [src]="post.imagen" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h3 class="card-title">{{post.titulo}}</h3>
                    <p class="card-text">{{post.texto}}</p>
                    <p class="card-text"><small class="text-muted">{{post.autor}} Fecha {{post.fecha}}</small></p>
                    <p class="card-text">{{post.categoria}}</p>
                </div>
            </div>
        </div>
    </div>
</div>