img {
    border-radius: 10px;
}

h3 {
    color: chocolate;
}

.post {
    padding: 20px;
    margin: 0 auto;
}

.card {
    margin: 0 auto;
}

.selector {
    padding: 20px 0px;
    max-width: 300px;
    margin: 0 auto;
}