<div class="detalle">
    <div class="card mb-3">
        <img [src]="post?.imagen" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title">{{post?.titulo}}</h4>
            <p class="card-text">{{post?.texto}}</p>
            <p class="card-text"><small class="text-muted">{{post?.autor}}</small></p>
            <p class="card-text"><small class="text-muted">{{post?.fecha}}</small></p>
            <p class="card-text">{{post?.categoria}}</p>
        </div>
    </div>
</div>